# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer images
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
experiments/*/*.ipynb

#Archives
*.gz

#Idea
.idea*

# Picture Files
*.pt
*.npz
*.png
._*
*.out
*.log
*.eps
*.sh
*.pdf
.DS_Store
*.err
*.sub
*.pkl

#other random files
graph_nets/hypers_tuning/*/*

# Data files
*.txt
*.mat
*.csv
*.xlsx
*.data

*.mat
*.m
*.main
*.dat
*.db
*.zip
*.domain
*.test
*.arff
*.au
bayesian-benchmarks/bayesian-benchmarks/data/*/*
bayesian_benchmarks/bayesian_benchmarks/data/uci/generatedata_all.m
bayesian_benchmarks/bayesian_benchmarks/data/energy/ENB2012_data.xlsx
bayesian_benchmarks/bayesian_benchmarks/data/uci/log.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/3droad/3D_spatial_network.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/3droad/3droad.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/3droad/generatedata_3droad.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/airfoil/airfoil.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/airfoil/airfoil_self_noise.dat.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/airfoil/generatedata_airfoil.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/autompg/auto-mpg.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/autompg/autompg.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/autompg/generatedata_autompg.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/autos/autos.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/autos/generatedata_autos.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/autos/imports-85.data.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/bike/bike.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/bike/day.csv
bayesian_benchmarks/bayesian_benchmarks/data/uci/bike/generatedata_bike.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/bike/hour.csv
bayesian_benchmarks/bayesian_benchmarks/data/uci/breastcancer/breastcancer.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/breastcancer/generatedata_breastcancer.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/breastcancer/wpbc.data.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/buzz/Twitter.data
bayesian_benchmarks/bayesian_benchmarks/data/uci/buzz/buzz.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/buzz/generatedata_buzz.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/challenger/challenger.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/challenger/generatedata_challenger.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/challenger/o-ring-erosion-or-blowby.data.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/concrete/Concrete_Data.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/concrete/concrete.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/concrete/generatedata_concrete.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/concreteslump/concreteslump.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/concreteslump/generatedata_concreteslump.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/concreteslump/slump_test.data.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/elevators/elevators.data
bayesian_benchmarks/bayesian_benchmarks/data/uci/elevators/elevators.domain
bayesian_benchmarks/bayesian_benchmarks/data/uci/elevators/elevators.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/elevators/elevators.test
bayesian_benchmarks/bayesian_benchmarks/data/uci/elevators/elevators_all.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/elevators/generatedata_elevators.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/energy/energy.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/energy/energy.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/energy/generatedata_energy.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/fertility/fertility.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/fertility/fertility_Diagnosis.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/fertility/generatedata_fertility.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/forest/forest.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/forest/forestfires.csv
bayesian_benchmarks/bayesian_benchmarks/data/uci/forest/generatedata_forest.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch1.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch10.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch2.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch3.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch4.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch5.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch6.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch7.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch8.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/batch9.dat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/gas.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/gas/generatedata_gas.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/houseelectric/generatedata_houseelectric.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/houseelectric/houseelectric.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/houseelectric/household_power_consumption.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/housing/generatedata_housing.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/housing/housing.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/housing/housing.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/keggdirected/generatedata_keggdirected.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/keggdirected/keggdirected.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/keggdirected/reaction_directed.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/keggundirected/generatedata_keggundirected.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/keggundirected/keggundirected.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/keggundirected/reaction_undirected.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/kin40k/generatedata_kin40k.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/kin40k/kin40k.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/kin40k/kin40k_all.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/machine/generatedata_machine.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/machine/machine.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/machine/machine.data.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/machine/machine.data.txt.au
bayesian_benchmarks/bayesian_benchmarks/data/uci/parkinsons/generatedata_parkinsons.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/parkinsons/parkinsons.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/parkinsons/parkinsons.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/pendulum/generatedata_pendulum.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/pendulum/pendulum.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/pendulum/pendulum_all.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/pol/generatedata_pol.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/pol/pol.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/pol/pol_all.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/protein/CASP.csv
bayesian_benchmarks/bayesian_benchmarks/data/uci/protein/generatedata_protein.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/protein/protein.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/pumadyn32nm/generatedata_pumadyn32nm.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/pumadyn32nm/pumadyn32nm.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/pumadyn32nm/pumadyn32nm_all.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/servo/generatedata_servo.m
bayesian_benchmarks/bayesian_benchmarks/data/uci/servo/servo.mat
bayesian_benchmarks/bayesian_benchmarks/data/uci/servo/servo.data.txt
bayesian_benchmarks/bayesian_benchmarks/data/uci/skillcraft/SkillCraft.txt
bayesian_benchmarks/bayesian_benchmarks/data/power/CCPP*
